extends baseEmail 

block content 
    p Hi #{firstName},
    p Reset password by clicking this link, submit a patch request to this url: #{url}
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset your password here
                                    p (Button not yet operational! ❌)